<!DOCTYPE html>
<html lang = "en">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block style %}
    {% endblock style %}
    {% block content_title %}
    {% endblock content_title %}
</head>
<body>
    <header>
        <img width='100%' height='50%' src='{% static "shapka.png" %}' alt='shapka'>
        <h3><a href={% url "home" %}>Главная страница</a> / <a href={% url "items" %} >Cписок товаров</a> / <a href={% url "about" %}>Команда разработки</a></h3><br>
    </header>
    {% block content_body %}
    {% endblock content_body %}
</body>
</html>