<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
    <h1>Магазин</h1><br>
    <h3><a href="/">Главная страница</a> / <a href="/items">Cписок товаров</a> / <a href="/about">Команда разработки</a></h3><br>
    <h2>Товар</h2><br>
    {% comment %} {{ item|safe }} {% endcomment %}
    <h3><div>{{ item.name }}</div></h3><br>
    <div>Бренд: {{ item.brand }}</div><br>
    <div>Цена: {{ item.price }}</div><br>
    {% if item.description %}
        <div>Описание: {{ item.description }}</div><br>
    {% endif %}
    {% if item.quantity %}
        <div>Количество: {{ item.quantity }}</div><br>
    {% else %}
        <div>Нет в наличии</div><br>
    {% endif %}
</body>
</html>