{% extends "base.html" %}
{% block content_title %}
<title>Item</title>
{% endblock content_title %}
{% block content_body %}
    <h1>Магазин</h1><br>
    <h2>Товар</h2><br>
    {% comment %} {{ item|safe }} {% endcomment %}
    <img src={{item.image}} alt={{item.name}} style="width:25%">
    <h3><div>{{ item.name }}</div></h3><br>
    <div>Бренд: {{ item.brand }}</div><br>
    <div>Цена: {{ item.price }}</div><br>
    {% if item.description %}
        <div>Описание: {{ item.description }}</div><br>
    {% endif %}
    {% if item.quantity %}
        <div>Количество: {{ item.quantity }}</div><br>
    {% else %}
        <div>Нет в наличии</div><br>
    {% endif %}
{% endblock content_body %}